.btnsizes{
	border-radius: 100%;
	margin: 2px;
	width: 32px;
	font-size: 15px;
}
/*p{color: lightgrey;}*/
.btnstar{
	background-color: white;
	border-color: white;
	margin: 5px;
	
}
.amount{
	font-size: 20px;
	color: black;
}
.amount2{
	color: lightgrey;
}
img{
	width: 200%;
	height: auto;
	object-fit: contain;
}
.thumbnail{
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

}


